<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635632141605-efsnhqt3s53jrrq4qoatt4fh9hmnr1m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635632141605-efsnhqt3s53jrrq4qoatt4fh9hmnr1m1</string>
	<key>API_KEY</key>
	<string>AIzaSyBavWoHsnM6--0G7ldULJQwOMI2T1CEXkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>635632141605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.project06</string>
	<key>PROJECT_ID</key>
	<string>rn-login-auth-323bc</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-login-auth-323bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635632141605:ios:67393cece8722802ff46cc</string>
</dict>
</plist>